<p>
{{#compare sign '='}}
{{else}} <small class="text-muted">
{{#compare sign '-'}}
not</small>
{{else}} {{#compare sign '<'}}
before</small>
{{else}} {{#compare sign '>'}}
after</small>
{{/compare}}
{{/compare}}
{{/compare}}
{{/compare}}
{{real_value}} <small class="text-muted text-right">{{attr}}</small></p>
