{{#compare value 0 operator='<'}}
<div class="panel panel-danger">
{{else}}
<div class="panel panel-success">
{{/compare}}
  <div class="panel-heading" data-toggle="collapse" data-target="#modifier{{id}}">
    <h4 class="panel-title">{{value_str}}</h4>
  </div>
  <div id="modifier{{id}}" class="collapse in">
    {{#if note}}
    <div class="panel-body">
      {{note}}
    </div>
    {{/if}}
    <div class="panel-footer">
      {{user.name}} ({{datefmt timestamp style='short'}})
    </div>
  </div>
</div>
