{{#each this}}
<tr class="{{status_color status}}">
  <td data-attribute="pilot"><button class="btn btn-default btn-sm copy-btn" data-clipboard-text="{{pilot}}" data-toggle="tooltip" title="Copy '{{pilot}}' to clipboard">{{pilot}}</button></td>
  <td data-attribute="id"><button class="btn btn-default btn-sm copy-btn" data-clipboard-text="{{id}}" data-toggle="tooltip" title="Copy '{{id}}' to clipboard">{{id}}</button></td>
  <td data-attribute="payout"><button class="btn btn-default btn-sm copy-btn" data-clipboard-text="{{payout_str}}" data-toggle="tooltip" title="Copy '{{payout_str}}' to clipboard">{{payout_str}}</button></td>
  <td>
    <form method="post" action="{{href}}">
      <input id="id_" name="id_" type="hidden" value="action">
      <input id="type_" name="type_" type="hidden" value="paid">
      <input id="csrf_token" name="csrf_token" type="hidden" value="{{csrf}}">
      <button class="btn btn-success btn-sm paid-btn" tpye="submit">Paid</button>
    </form>
  </td>
  <td data-attribute="id"><a href="{{href}}">{{id}}</a></td>
  <td class="filterable" data-attribute="status"><a href="#">{{capitalize status}}</a></td>
  <td class="filterable" data-attribute="division"><a href="#">{{division.name}}</a></td>
</tr>
{{/each}}
