{{#each this}}
<tr class="{{status_color status}}">
  <td><a href="{{href}}">{{id}}</a></td>
  <td>{{pilot}}</td>
  <td>{{ship}}</td>
  <td>{{system}}</td>
  <td>{{capitalize status}}</td>
  <td>{{payout_str}}</td>
  <td>{{datefmt submit_timestamp}} @ {{timefmt submit_timestamp}}</td>
  <td>{{division.name}}</td>
</tr>
{{/each}}
