{{#each this}}
<tr class="{{status_color status}}">
  <td data-attribute="id"><a href="{{href}}">{{id}}</a></td>
  <td class="filterable" data-attribute="pilot"><a href="#">{{pilot.name}}</a></td>
  <td class="filterable" data-attribute="ship"><a href="#">{{ship}}</a></td>
  <td class="filterable" data-attribute="system"><a href="#">{{system}}</a></td>
  <td class="filterable" data-attribute="status"><a href="#">{{capitalize status}}</a></td>
  <td data-attribute="payout">{{payout_str}}</td>
  <td data-attribute="submit_timestamp">{{datefmt submit_timestamp}} @ {{timefmt submit_timestamp}}</td>
  <td class="filterable" data-attribute="division"><a href="#">{{division.name}}</a></td>
</tr>
{{/each}}
